* {
	margin: 0;
	padding: 0;
}


body {
	background: gray;
	color: black;
	font: normal 13px/1.625 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 50px;
	text-align: center;
}

#container {
	background: lightsteelblue;
	border: 1px solid black;
	-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	margin: 0 auto;
	padding: 25px;
	min-height: 480px;
	min-width: 640px;
}

header {
	border-bottom: 1px solid black;
	font-size: 28px;
	padding: 0 0 7px;
}

header .h1 {
	background: #555;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	padding: 2px 5px;
	text-transform: uppercase;
}
.bnCA {
	color: #ddd;
	background-color: #333;
	border-radius: 50px;
	height: 3em;
	width: 9em;
	font-size: large;
	font-weight: 600;
}
.bnCA:hover {
	opacity: .6;
	cursor: pointer;
}

.bnCAactive {
	opacity: 1;
}

.standard-container {
	width: 100%;
	border: solid 1px red;
}
.float-right {
	float:right;
	margin-top:-75px;
}
.float-left {
	float:left;
	margin-top:-75px;
}

#large {
	margin: 25px auto;
	width: 700px;
}

#large img {
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	float: left;
}

.details {
	border-bottom: 1px solid #ddd;
	float: right;
	text-align: left;
	width: 250px;
}

.details p {
	border-top: 1px solid #ddd;
	font-size: 12px;
	margin: 0;
	padding: 7px 0;
}

.details strong {
	background: #555;
	color: #fff;
	font-size: 10px;
	font-weight: normal;
	padding: 2px 5px;
	text-transform: uppercase;
}

.thumbnails {
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	margin: 0 auto;
	position: relative;
	padding: 10px 45px;
	min-height: 480px;
	min-width: 550px;
}

.thumbnails a {
	float: left;
	margin: 0 5px;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.thumbnails img {
	border: 5px solid transparent;
	display: block;
	margin: 0 0 5px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	border-color: black;
}

.thumbnails a:hover img {
	opacity: .6;
	cursor: pointer;
}

.thumbnails a:active img {
	border-color: #aaa;
}

.thumbnails .active img,
.thumbnails .active:hover img  {
	border-color: #a41d0f;
}

.thumbnails a span {
	background: #333;
	color:#ddd;
	-moz-border-radius: 22px; -webkit-border-radius: 22px; border-radius: 22px;
	font-weight: bold;
	font-size: 28px;
	margin: 5px auto 0 auto;
	padding: 2px 15px;
}

.thumbnails a:hover span {
	opacity: .6;
	cursor: pointer;
}

.thumbnails a:active span {
	background: #aaa;
	color: #fff;
}

.thumbnails a.active span {
	background: #a41d0f;
	color: #fff;
}

.thumbnails .previous, 
.thumbnails .next {
	float: none;
	height: 24px;
	position: absolute;
	text-indent: -9999em;
	top: 64px;
	width: 24px;
}

.previous {
	background: url(../images/previous.png) no-repeat 0 0;
	left: 10px;
}

.next {
	background: url(../images/next.png) no-repeat 0 0;
	right: 10px;
}

.previous:hover, .next:hover {
	opacity: .6;
}

.previous:active, .next:active {
	opacity: 1;
}

.disabled {
	opacity: .2 !important;
	cursor: default !important;
}
.hidden {
	display:none; 
}

footer {
	font-size: 12px;
	padding: 25px 0 0 0;
}

.group:before, .group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.group:after { clear: both; }
.group { zoom: 1; }


#BarChart0 { 
	display: flex; 
	flex-direction: row; /* Arrange the Bars Horizontally using FlexBox  */
	align-items: flex-end; /* Have the bars start at the bottom and go up */
	justify-content: center; /* Center the bars in the middle of the screen */
	margin: 50px;
  }
  
  .bar {
	background-color: #333; /* Have each bar be a nice green */
	width: 10px; /* The animation will start with each bar being 10px wide, and then expand outwards */
  }

#BarChart1 { 
display: flex; 
flex-direction: row; /* Arrange the Bars Horizontally using FlexBox  */
align-items: flex-end; /* Have the bars start at the bottom and go up */
justify-content: center; /* Center the bars in the middle of the screen */
margin: 50px;
}

.bar {
background-color: #333; /* Have each bar be a nice green */
width: 10px; /* The animation will start with each bar being 10px wide, and then expand outwards */
}