<!DOCTYPE html>
<html>
  <head>
    <title style="color:red;">AURA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1 style="background-color:DodgerBlue;" style="color:yellowgreen;">AURA</h2>
      <p>Click <a href="/Input_CSV">here</a> if you already have a CSV to upload</p>
      <p>Click <a href="/Scrape_Reviews">here</a> if you need to scrape review data from the Google Play Store</p>
      <p>Click <a href="/">here</a> to go back to the home page</p>
      
    </div>
  </body>
</html> 