<!DOCTYPE html>
<html>
  <head>
    <title style="color:red;">AURA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 style="background-color:DodgerBlue;" style="color:yellowgreen;">AURA</h2>
      <br>
      <p>Click <a href="/">here</a> to go back to the home page without saving</p>
      <p>Click <a href="/">here</a> to save the analysis</p>
      <h2>Analysis Title: {{analysisTitle}}</h2>
      <h2>Data Input: </h2>
      <table>
        <tr>
          <th>Score</th>
          <th>Review</th>
          <th>Username</th>
          <th>Date</th>

        </tr>
        
          {% for index, row in allDataDF.iterrows() %}
            <tr>
                <td>{{row['score']}}</td>
                <td>{{row['content']}}</td>
                <td>{{row['userName']}}</td>
                <td>{{row['at']}}</td>
                
            </tr>
        <!-- <h2>Value: </h2> -->
          {% endfor %}
          
        
      </table>
    </div>
  </body>
</html> 