<!DOCTYPE html>
<html>
  <head>
    <title style="color:red;">AURA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1 style="background-color:DodgerBlue;" style="color:yellowgreen;">AURA</h2>
      <br>
      <form action="{{ url_for('result') }}" method="post">
            <h2>Input the review:</h2>
            <input type="text"  id="review" name="review">
            <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html> 